*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
}

li{
    list-style-type: none;
}

/* CONTAINER WRAP */
.container-wrap{
    width: 100%;
    height: 100vh;

    /* TEST */
    background-color: salmon;
}

.top-bar{
    width: calc(100% - 230px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100% - 120px);
    overflow: hidden;

    /* TEST */
    background-color: darkgoldenrod;
}

/* NAV-MAIN */
.nav-main{ 
    display: flex;
    flex-direction: column;
    min-height: 400px;
    float: left;
    width: 230px;
    height: 100%;

    /* TEST */
    background-color: darkmagenta;
}

.actions-nav{
    
    /* TEST */
    background-color: yellow;
}

.playlist-nav{
    overflow: hidden;
    flex-grow: 1;
     /* TEST */
     background-color: rebeccapurple;
}

.scrollbar{
    overflow-y: auto;
    height: 80%;
}

.make-playlist{
    font-size: 20px;
    font-weight: 800;
}

/* NAV CONTENT */
.content-main{
    padding-top: 85px;
    float: left;
    height: 100%;
    width: calc(100% - 230px);
    overflow-y: auto;

    /* TEST */
    background-color: cornflowerblue;
}
/* CONTAINER LIST */
.container-list{
    height: 40px;
    width: 60%;
    margin: auto;
    line-height: 40px;
    text-align: center;
}
/* UL MAIN */
.container-list li{
    display: inline-block;
    margin: 0 25px;
}


.user{
    /* TEST */
    background-color: brown;
    color: white;
}

/* LOGO */
.logo{
    width: 100%;
    height: 100px;

    /* TEST */
    background-color: cyan;
}

/* FOOTER */
footer{
    width: 100%;
    height: 120px;
    overflow: hidden;
    /* TEST */
    background-color: seagreen;
}